.resume {
  position: relative;
  padding: 50px 75px;
  word-wrap: break-word;
  padding-bottom: 80px;
  max-width: 822px;

  &__info-wrapper {
    display: flex;
  }

  &__experience-wrapper {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__border-bottom {
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 15px;
    margin-bottom: 24px;
  }

  &__info-first-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__main-header {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #f93b1d;
    & > :not(:last-child) {
      margin-right: 20px;
      display: inline-block;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: inherit;
    margin-bottom: 15px;
    display: block;
    color: #f93b1d;

    &-span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #1a1a1a;
    }

    &-date {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #919191;
    }
  }

  &__contact-me {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black-1);
  }

  &__about-me {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    text-transform: lowercase;
    width: 100%;
    word-wrap: break-word;
  }

  &__image {
    border-radius: 1000000px;
    max-width: 246px;
    width: auto;
    height: 246px;
  }

  &__info-contact-logo {
    width: 16px;
    height: 16px;
  }

  &__logo {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 78px;
    bottom: 25px;
  }

  &-border {
    border: 0.8px solid #000000;
  }

  &__popup {
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 28px 30px 30px;
    position: relative;
    max-width: 420px;
    position: absolute;
    top: 0;
    right: -50px;
    transform: translateX(100%);

    &-text {
      color: #1a1a1a;
      font-weight: 500;
      font-size: 28px;
      line-height: 43px;
    }

    &-button {
      position: absolute;
      right: 5.18%;
      top: 7.18%;
      font-size: 20px;
    }
  }
}
