:root {
  --color-primary: #6b40e3;
  --color-primary-light: #7949ff;
  --color-primary-dark: #512faf;

  --color-secondary-light: #ef5050;
  --color-secondary: #e52f2f;
  --color-secondary-dark: #f02424;

  --color-tertiary-dark: #0e80bf;
  --color-tertiary: #62a1eb;
  --color-tertiary-light: #c3dcee;

  --color-green: #98e37e;

  --color-orange: #f93b1d;

  --color-black: #000;
  --color-black-1: #1a1a1a;
  --color-black-2: rgba(0, 0, 0, 0.6);
  --color-black-3: #2e2e2e;

  --color-grey: #bcbcbc;
  --color-grey-1: #898989;
  --color-grey-2: #4d4d4d;
  --color-grey-3: #909090;

  --color-white: #fff;
  --color-white-1: #f9f9f9;
}
