@font-face {
  font-family: HelveticaNeue;
  src: url("/src/fonts/HelveticaNeue.ttc");
}

@import "./variables";
@import "./base";
@import "./home";
@import "./utilities";

@import "./components/button";
@import "./components/form";
@import "./components/resume";

html {
  background-color: white;
}

#root {
  position: relative;
}
